# Build and User Files
Config/User*.xcconfig
build/*
DerivedData/
*.ipa
*.xcuserstate

# macOS
.DS_Store
*~.nib
*.swp

# Xcode User Settings  
xcuserdata/
*.xccheckout
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.moved-aside
*.hmap
Index/

# IDEs
/.idea
/.vscode

# Python
*.pyc
*.sdsjson
Scripts/sds_codegen/sds-includes/*

# FastLane
fastlane/Preview.html
